    <!--header area start-->
    <header class="header_area ">
        {% load humanize %}
        <!--header top start-->
        <div class="header_top">
            <div class="container">
                <div class="top_inner">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="follow_us">
                                <ul class="follow_link">
                                    {% for network in upNetwork %}

                                    <li><a href="#"><img src="{{ network.network_image.url }}"> </a></li>
                                    
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div> 
        <!--header top start-->
        <div class="header_middle">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-6">
                        <div class="logo">
                            <a href="{% url 'home_page' %}"><img src="/static/img/logo/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-6">
                        <div class="middel_right">
                            <div class="search-container">
                                 <form action="{% url 'search' %}" method="GET">
                                    <div class="search_box">
                                        <input placeholder="Поиск товара ..." type="text" name="q">
                                        <button type="submit"><i class="ion-ios-search-strong"></i></button>
                                    </div>
                                </form> 
                            </div>
                            <div class="middel_right_info">
                                <div class="header_wishlist">
                                {% for contact in contact %}
                                            <h4><img src="/static/img/teltr.png" alt=""> {{contact.tel}}</h4> 
                                            {% endfor %}
                                </div>
                                <div class="mini_cart_wrapper">
                                     
                                        {% if item_count > 0 %}
                                    <a href="{% url 'cart_detail' %}">
                                        <h4>
                                            <img src="/static/icons/cart_icon.png" alt=""> 
                                            <span class="cart_quantity">{{ item_count  }}</span>
                                        </h4>
                                    </a>
                                        {% else %}
                                        <a href="{% url 'cart_detail' %}">
                                            
                                            <img src="/static/icons/cart_icon.png" alt="">
                                        </a>    
                                        {% endif %}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header middel end-->
        
        <!--mini cart-->
        {% comment %} <div class="mini_cart">
            <div class="cart_close">
                <div class="cart_text">
                    <h3>cart</h3>
                </div>
                <div class="mini_cart_close">
                    <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
                </div>
            </div>
            <div class="cart_item">
                <div class="cart_img">
                    <a href="#"><img src="assets/img/s-product/product.jpg" alt=""></a>
                </div>
                <div class="cart_info">
                    <a href="#">JBL Flip 3 Splasroof Portable Bluetooth 2</a>

                    <span class="quantity">Qty: 1</span>
                    <span class="price_cart">$60.00</span>

                </div>
                <div class="cart_remove">
                    <a href="#"><i class="ion-android-close"></i></a>
                </div>
            </div>
            <div class="cart_item">
                <div class="cart_img">
                    <a href="#"><img src="assets/img/s-product/product2.jpg" alt=""></a>
                </div>
                <div class="cart_info">
                    <a href="#">Koss Porta Pro On Ear Headphones </a>
                    <span class="quantity">Qty: 1</span>
                    <span class="price_cart">$69.00</span>
                </div>
                <div class="cart_remove">
                    <a href="#"><i class="ion-android-close"></i></a>
                </div>
            </div>
            <div class="mini_cart_table">
                <div class="cart_total">
                    <span>Sub total:</span>
                    <span class="price">$138.00</span>
                </div>
                <div class="cart_total mt-10">
                    <span>total:</span>
                    <span class="price">$138.00</span>
                </div>
            </div>

            <div class="mini_cart_footer">
                <div class="cart_button">
                    <a href="cart.html">View cart</a>
                </div>
                <div class="cart_button">
                    <a class="active" href="checkout.html">Checkout</a>
                </div>
            </div>
        </div> {% endcomment %}
        <!--mini cart end-->
        
        <div class="header_bottom bottom_two sticky-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="header_bottom_container">
                            <div class="categories_menu">
                                <div class="categories_title">
                                    <h2 class="categori_toggle">Каталог</h2>
                                </div>
                                <div class="categories_menu_toggle">
                                    <ul>
                                      {% for brends in brends %}
                                        <li>
                                            <a href="{{ brends.get_absolute_url }}">
                                                {{brends.title}}
                                            </a>
                                        </li>
                                       {% endfor %} 
                                    </ul>
                                </div>
                            </div>
                            <div class="main_menu">
                                <nav>
                                    <ul>
                                        <li><a href="{% url 'home_page' %}">Главная</a>
                                            
                                        </li>
                                        <li><a href="{% url 'onas' %}">О Нас</a></li>
                                        <li><a href="{% url 'contact' %}"> контакты </a></li>
                                       
                                    </ul>
                                </nav>
                            </div>
                        </div>
    
                    </div>
    
                </div>
            </div>
        </div>

    </header>

    <!--header area end-->
    <!--Offcanvas menu area start-->
<div class="off_canvars_overlay"></div>
<div class="Offcanvas_menu">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="canvas_open">
                    <span>Меню</span>
                    <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                </div>
                <div class="Offcanvas_menu_wrapper">

                    <div class="canvas_close">
                        <a href="#"><i class="ion-android-close"></i></a>
                    </div>

                    <div class="Offcanvas_follow">
                        
                        <ul class="follow_link">
                            {% for network in upNetwork %}
                            <li><a href="#"><img src="{{ network.network_image.url }}"></a></li>
                            {% endfor %}
                        </ul>
                    </div> 


                    <div class="search-container">
                        <form action="{% url 'search' %}" method="GET">
                            <div class="search_box">
                                <input placeholder="Поиск товара..." type="text" name="q">
                                <button type="submit"><i class="ion-ios-search-strong"></i></button>
                            </div>
                        </form>
                    </div>
                    <div id="menu" class="text-left ">
                        <ul class="offcanvas_main_menu">
                            <li class="menu-item-has-children">
                                <a href="{% url 'home_page' %}">Главная</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="{% url 'onas' %}">О Нас</a></li>
                            </li>
                            <li class="menu-item-has-children">
                                <li><a href="{% url 'contact' %}">Контакты</a></li>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Offcanvas menu area end-->

